.page-content-wrapper .page-content .alert.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
}
.page-content-wrapper .page-content .alert.alert-danger {
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
#form_wizard_1{
    border: 1px solid #ccc;
    border-radius: 5px !important;
}
#form_wizard_1 .form-control{
    border: 1px solid #c2cad8;
    border-radius: 4px !important;
}
.customredbtn, .customredbtn:hover{
    color: #ffffff !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    margin-left: 15px;
    background-color: #e12330;
    font-size: 14px;
}
.customgreenbtn, .customgreenbtn:hover{
    color: #ffffff !important;
    background-color: #549E39;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    font-size: 14px;
}
.form-wizard .steps>li>a.step>.steptabs{
  font-size: 12px;
}
.form-wizard .steps>li>a.step>.newnumber {
    background-color: #eee;
    text-align: center!important;
    padding: 7px 12px 13px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important;
}
.error, span#uErrorSpan{
    color: red !important;
}
.wizard li.previous a, .wizard li.next a {
    float: none;
}

.modaldivbox{
    display:none;
    position:absolute;
    /*top:300px;*/
    top:-250px;
    z-index: 9999;
}
.modaldivbox .modal-body{
    width: 87%;
    margin:auto;
}
.modal-dialog-box{
    /*width:500px;*/
    border: 3px solid #c2c2c2;
    /*z-index: 9999;*/
}
.modalalign{
    float: right;
}
.reduce-bottom{
    margin-bottom: 0;
}
#customerform .left-padding{
    padding-left: 0;
    padding-right: 10px;
}
#customerform .right-padding{
    padding-right: 0;
    padding-left: 10px;
}
#customerform .checkbottom-padding{
    padding-bottom: 0;
}
#addcustomerform .padding-top-remove{
    padding-top: 0;
}
.leftrightpaddingremove{
    margin-top: 10px;
    padding-right: 0;
    padding-left: 15px;
}
.sporttitle{
    padding-bottom: 15px;
}
.conftop{
    padding-top: 3px;
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .form-control-feedback, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label{
    color: #000000;
}
.mailgreenbtn, .mailgreenbtn:hover{
color:#FFFFFF;
border:px solid #FFFFFF;
background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
border: 1px solid #c2cad8;
border-radius: 4px !important;
}
#ConferenceModal .modal-body, #ConferenceModal .modal-content{
    width:85%;
    margin: auto;
}
#conferror{
    display: none;
    color: red;
}
.help-block-error{
    color: #e73d4a;
}
@media screen and (min-width: 992px) {

    .customer-details .form-element{
        margin-left: 0;
        margin-right: 0; 
    }
    .customer-details .organ-left{
        padding-left: 0;
    }
    #addcustomerform .customer-details {
        padding-left: 0;
        padding-right: 0;
    }
    #addcustomerform .border-re{
        border-top:0;
        padding-bottom: 0;
    }
    .customer-details .form-element-zip{
        padding-right: 0px; 
    }
}