.page-content-wrapper .page-content .alert.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
}
.customerlist-tbl-pr #sample_5 thead .sorting_desc:after, .customerlist-tbl-pr #sample_5 thead .sorting_asc:after, .customerlist-tbl-pr #sample_5 thead .sorting:after{
	display: none;
}
.customerlist-tbl-pr #sample_5.customerlist-tbl{
	border-bottom: 0 ;
}

.portlet>.portlet-title {
    border-bottom: none;
}
.dataTables_length,#sample_5_filter{
	display:none;
}
#sample_5.dataTable tbody td, #sample_5.dataTable thead th {
    padding: 1px 10px;
    font-size: 13px;
    vertical-align: middle;
    border-bottom: 0;
}
table.table-bordered.dataTable tbody td {
    font: 13px/2.0em 'Open Sans', arial, sans-serif !important;
}

 .table thead>tr>th {
    font: 13px/2.0em 'Open Sans', arial, sans-serif !important;
}

.table thead tr{
    background: #263849;
    background: -moz-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3C4C5B), color-stop(100%, #263849));
    background: -webkit-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: -o-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: -ms-linear-gradient(top, #3C4C5B 0%, #263849 100%);
    background: linear-gradient(top, #3C4C5B 0%, #263849 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849')";

}

.table thead th {
    color: #FFF;
    border-right: 1px solid #1C2B37;
    border-left: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	    font: 12px/1.7em 'Open Sans', arial, sans-serif;
}
.table thead :first-child tr:first-child th {
    border-top: 1px solid #292C32;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    /* border: none; */
    border-top: 1px solid #292C32;
}

.portlet.light {
    padding: 12px 20px 0px;
    background-color: #fff;
}

.widget-header {
    position: relative;
    height: 40px;
        border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
       background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #CCC;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
}

/*table.dataTable thead th, table.dataTable thead td {
    padding: 6px 15px;
}*/
.widget-header h3 {
    position: relative;
        left: 10px;
    float: left;
    display: inline-block;
    margin-right: 3em;
    font-size: 13px;
    font-weight: 600;
    color: #555;
    line-height: 10px;
    text-shadow: 1px 1px 2px rgba(255,255,255,1);
	    margin-bottom: 0px;
		    margin-top: 12px;
}

.btn:first-child {
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
}
input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
#sample_5_wrapper .row{
	display:none;
}
#sample_5_wrapper .row{
	background-color: #FFFFFF;
	margin-left: 0;
	margin-right: 0;
}
.dataTables_info{
	display: none;
}

div.dataTables_wrapper div.dataTables_paginate{
	float: left;
	/*text-align: center;*/
}
.addcustomerbtn:hover{
    color: #FFFFFF;
}
.addcustomerbtn{
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);

    border-color: rgba(0, 0, 0, .15);
}

.btn-secondary {
    text-shadow: 0px -1px 0px rgba(0,0,0,.25);
    color: #ffffff;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000;
    border-color: rgba(0, 0, 0, .15);
}
.btn-inverse {
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #5E7C88;
    background-image: -moz-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: -ms-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7c9aa6), to(#405e6a));
    background-image: -webkit-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: -o-linear-gradient(top, #7c9aa6, #405e6a);
    background-image: linear-gradient(top, #7c9aa6, #405e6a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c9aa6', endColorstr='#405e6a', GradientType=0);
    border-color: #5E7C88 #405e6a #405e6a #5E7C88;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.btn-secondary:hover {
    color: #ffffdc;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled], .btn-group.open .btn-secondary.dropdown-toggle {
    background-color: #FF9A03;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled], .btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #405e6a;
}
.btn-inverse:hover {
    color: #ffffff;
    text-shadow: 0px -1px 0px #22404c;
}

.btn {
    padding: 4px 12px; 
    font-size: 13px;
	 margin-top: 5px;

}

.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0px solid #e7ecf1;
    margin: 0px 0!important;
    margin-top: 0px;
	    border-top: 0px;
}

.btn {
    
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px  !important;
    -moz-border-radius: 4px  !important;
    border-radius: 4px !important;
    
}


   .portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px;
    margin-bottom: 0px;
}


.dataTables_wrapper {
    box-shadow: 0 2px 5px rgb(212, 212, 212);
}
#sample_5_paginate{
    display: none;
}
td.Pagetext1{
    padding-top: 8px;
}
#sample_5 th, #sample_5 tr td{
    text-align: center;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{
    border: 2px solid white;
}
.portlet.portletbg{
    padding: 20px 15px 0px;
    background: #FFF;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px !Important;float: right;
    margin-bottom: 10px;
}
.btn-success:hover {
    font-size: 12px;
    color: #ffffff;
    text-shadow: 0px -1px 0px #186200;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled], .btn-group.open .btn-success.dropdown-toggle {
    background-color: #70A62F;
    font-size: 12px;
}
.btn-success {
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

.btn-success {
    font-size: 12px;
    background-repeat: repeat-x;
    
}
.btn-danger:hover {
    font-size: 12px;
    color: #fff6f6;
    text-shadow: 0px -1px 0px #760000;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled], .btn-group.open .btn-danger.dropdown-toggle {
    background-color: #E40304;
    font-size: 12px;
}
.btn-danger{
    font-size: 12px;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15);
}
/*#organizationsearch{
    margin-top: -2px;
}*/
.removerightpadding{
    padding-right: 0;
    padding-left: 0;
}
#sample_5 tbody tr td:nth-child(1){
    text-align: left;
}
.searchtext{
    margin-top: 6px;
}
.border-radius{
    border-radius: 4px !important;
}
.dtr-title, .dtr-data{
    vertical-align: middle;
}
.inner-table{
    margin-bottom: 0;
}
td.child{
    background-color: #e5e5e5 !important;
    padding-left: 0 !important;
}
#sample_5.dataTable td.sorting_1, #sample_5.dataTable td.sorting_2, #sample_5.dataTable td.sorting_3, #sample_5.dataTable th.sorting_1, #sample_5.dataTable th.sorting_2, #sample_5.dataTable th.sorting_3{
    background: none !important;
}

.loadingsection {
    display: none;
    text-align: center;
    min-height: 400px;
    background-color: #ffffff;
    padding-top: 175px;
}
.portlet-title .searchtext{
    padding-right: 0;
    padding-left: 0; 
}
#resetbtn{
    padding: 6px 12px;
    font-size: 13px;
    margin-top: 1px;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
@media (min-width:769px) and (max-width:1265px) {
       .searchtext{
        margin-top: -13px;
    } 
}
