.page-content-wrapper .page-content .alert.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
}
.page-content-wrapper .page-content .alert.alert-danger {
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
.left-right-padding .info-caption, #teamform .left-padding .portlet.light , #teamform .right-padding .portlet.light{
    border: 1px solid #ccc;
    border-radius: 5px !important;
}
#teamform .form-control{
    border: 1px solid #c2cad8;
    border-radius: 4px !important;
}
.removebtn{
    width:138px !important;
}
.customredbtn, .customredbtn:hover{
    color: #ffffff !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    background-image: -moz-linear-gradient(top, #E95D5D, #E40304);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 96px;
    margin-left: 15px;
    background-color: #e12330;
    font-size: 14px;
    border-color: #ea5460;
}
.customgreenbtn, .customgreenbtn:hover{
    color: #ffffff !important;
    background-color: #549E39;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    font-size: 14px;
    border-color: #619126;
}
.error{
    color: red;
}
.bottommargin{
    margin-bottom: 0;
}
.portlet-body .bottom-padding{
    padding-bottom: 0;
}
.bottom-padding .custom-form-action{
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
}
.removepadding{
    padding-left: 0;
    padding-right: 5px;
}
#teamform .mangeteam-form-bottom{
	padding-bottom: 0;
	padding-top: 0;
}
.mangeteam-form-bottom .form-actions.custom-form-action{
	padding-bottom: 0;
	padding-top: 0;
	border-top: 0;
}
#teamform .info-caption{
	/*padding: 12px 20px 1px;*/
    padding: 3px 20px 3px;
	margin-bottom: 10px;
}
.form-group.bottommargin{
	margin-bottom: 0;
}
#teamform .portlet>.portlet-title{
    border-bottom: 0;
    margin-bottom: 0;
}
#rmv{
    display: none;
    float: right;
}
.teamlogospan{
    font-size: 11px;
}
#resendmail{
    width:118px;
}
#diverror, #conferror{
    display: none;
    color:red;
}
#DivisionModal .modal-body, #DivisionModal .modal-content,  #SeasonModal .modal-body, #SeasonModal .modal-content, #ConferenceModal .modal-body, #ConferenceModal .modal-content{
    width:85%;
    margin: auto;
}

@media screen and (min-width: 270px) and (max-width: 350px) {
  .customredbtn{
      float:right;
   }
   
}

